/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.header {
	min-height: 200px;
	padding-bottom: 20px;

	/* фикс рендеринга на Safari */
	box-sizing: border-box;
	position: relative;
	z-index: 1;

	@include sm {
		padding-bottom: 35px;
	}

	// ------------------------------
	// Фон для мобильной версии
	// ------------------------------
	&.mobile {
		background: url("../images/mobile-top-bg.webp") no-repeat 0 0;
		background-size: 100% 100%;

		/* фикс дерганий фона на iOS */
		background-attachment: scroll;
	}

	// ------------------------------
	// Фон для десктопной версии
	// ------------------------------
	&.desktop {
		@include sm() {
			background: url("../images/desktop-top-bg.webp") no-repeat 0 0;
			background-size: 100% 100%;
			background-attachment: scroll;
		}
	}

	// ------------------------------
	// Строка внутри хедера
	// ------------------------------
	&__row {
		height: 55px;
		@include sm {
			height: 75px;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;

		/* Safari flex fix */
		min-width: 0;
	}

	// ------------------------------
	// Логотип
	// ------------------------------
	&__logo {
		display: block;
		aspect-ratio: 158/37;
		width: 158px;

		/* чтобы не схлопывался в flex */
		flex-shrink: 0;
	}

	// ------------------------------
	// Cooperation блок
	// ------------------------------
	&__cooperation {
		display: flex;
		flex-direction: column;
		gap: 10px;

		font-family: var(--font-family);
		font-weight: 900;
		font-size: 11px;
		text-align: center;
		color: #c2f9ff;

		/* стабильность текста */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		@include sm() {
			gap: 18px;
			font-size: 18px;
		}

		@include xl {
			gap: 25px;

			font-family: var(--font-family);
			font-weight: 900;
			font-size: 23px;
			text-align: center;
			color: #c2f9ff;
		}
	}

	// ------------------------------
	// H1
	// ------------------------------
	h1 {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 28px;
		color: #fff;

		margin: 0; /* safari стандартный margin убираем */

		/* красивый текст на apple */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		@include sm() {
			font-size: 48px;
		}

		@include xl {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 96px;
			color: #fff;
		}
	}

	// ------------------------------
	// Кнопка
	// ------------------------------
	.rounded-button-lg {
		margin-inline: auto;
		margin-top: 10px;

		/* фикс Safari margin auto */
		display: flex;
		justify-content: center;
	}
}
