/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {
	--container-width: 1440px;

	--container-padding-desktop: 165px;
	--container-padding-large: 50px;
	--container-padding-small: 10px;

	--font-main: "Inter", sans-serif;
	--font-title: "Inter", sans-serif;

	--white: white;
	--black: black;
	--red: red;
	--text: #C2F9FF;

	--transition: all 0.8s ease-in-out;
}
